<template>
    <div class="main">
        <header class="header">
            <Menu></Menu>
        </header>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    import Menu from './components/Menu.vue'
    export default {
        data() {
            return {
                //
            }
        },
        components: {
            Menu
        }
    }
</script>