<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="card card-default">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <div class="alert alert-danger" v-if="has_error && !success">
                            <p v-if="error == 'login_error'">Validation Errors.</p>
                            <p v-else>Error, unable to connect with these credentials.</p>
                        </div>
                        <form autocomplete="off" @submit.prevent="onLogin" method="post">
                            <div class="form-group">
                                <label for="login">E-mail or Username</label>
                                <input type="text" id="login" class="form-control" v-model="objData.login" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" class="form-control" v-model="objData.password"
                                       required>
                            </div>
                            <button type="submit" class="btn btn-primary">Signin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                objData: {
                    login: '',
                    password: '',
                },
                success: false,
                has_error: false,
                error: ''
            }
        },
        mounted() {

        },
        methods: {
            onLogin() {
                // get the redirect object
                var redirect = this.$auth.redirect()

                this.$auth.login({
                    data: this.objData,
                    success: function () {
                        // handle redirection
                        this.success = true
                        const redirectTo = redirect ? redirect.from.name : this.$auth.user().role_id == 1 || this.$auth.user().role_id == 2 ? 'admin.dashboard' : 'dashboard'
                        // const redirectTo = 'dashboard'
                        this.$router.push({name: redirectTo})
                    },
                    error: function () {
                        this.has_error = true
                        this.error = res.response.data.error
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            }
        }
    }
</script>