<template>
    <div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" v-model="objData.name">
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                objData: {
                    name: ''
                }
            }
        },
    }
</script>

<style scoped>

</style>