<template>
    <div>
        <button class="btn btn-primary" @click="$router.push('/permission/create')">
            Create
        </button>
        <table class="table">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
            <tr v-for="item in permissions" :key="item.id">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                permissions: null
            }
        },
        mounted() {
            this.getPermission();
        },
        methods: {
            getPermission() {
                this.$http({
                    url: `permissions`,
                    method: 'GET'
                })
                    .then((res) => {
                        this.permissions = res.data.data
                    }, () => {
                        this.has_error = true
                    })
            }
        }
    }
</script>

<style scoped>

</style>